@alert-prefix-cls: ~"@{css-prefix}alert";

.@{alert-prefix-cls} {
  display: flex;
  flex-direction: column;
  padding: 5rem;

  & p {
    font-size: 14px;
    height: 10px;
    line-height: 10px;
  }
}